form .avatar {
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar, 
.pub_image .container-image{
    width: 45px;
    height: 45px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img{
    height: 100%;
}